body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #FFD700;
  --button-text: #000000;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
  --button-bg: #FFD700;
  --button-text: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.toggle-theme, .language-switch {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
